@font-face {
    font-family: BsR;
    src: url("../fonts/Chomsky.otf");
}

@font-face {
    font-family: DellRespira;
    src: url("../fonts/DellaRespira-Regular.ttf");
}

@font-face {
    font-family: JoseFin;
    src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Eagle;
    src: url("../fonts/EagleLake-Regular.ttf");
}

@font-face {
    font-family: Laila-hindi;
    src: url("../fonts/Laila-Regular.ttf");
}

@font-face {
    font-family: blkchry;
    src: url("../fonts/BLKCHCRY.TTF");
}

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url(//db.onlinewebfonts.com/c/7732caef9ed946f7916b3f650e8837c2?family=Harding+Text+Web+Regular);
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap');

/*

#adc0dc70;

+++++++++++++++++++++++++++++++
+   Menu For CSS              +
+++++++++++++++++++++++++++++++
|1. Header                    |
|   1.1 Nav-Bar               |
|   1.2 Logo                  |
|2. Section                   |
|   2.1 Image Slider          |
|3. Footer                    |
|                             |
|                             |
|                             |
|                             |
+++++++++++++++++++++++++++++++

*/

/* 
1. Header

/* Navigation CSS Ends*/

/* 1.2 Logo */
.logo-box {
    background-color: rgb(255, 255, 255);
}

#newlogo {
    width: 30%;
    height: 30%;
    position: relative;
    left: -20%;
    display: inline-block;
    text-align: center;

}

#logo {
    width: 280px;
    margin: auto;
   /*  animation-name: spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-style: preserve-3d;
    animation-direction: normal; */
}
/* 
#logo:hover {
    animation-play-state: paused;
}
 */
.logo-box h2 {
    color: white;
}

/*2. Section*/


.about {
    height: 50vh;
    background-color: red;
}


.top-logo-bar {
    min-height: auto !important;
}

/*
Image Slider CSS
*/
@import url(https://fonts.googleapis.com/css?family=Istok+Web);

@keyframes slidy {
    0% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

figure {
    margin: 0;
    background: #101010;
    font-family: Istok Web, sans-serif;
    font-weight: 100;

}

div#captioned-gallery {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
}

figure.slider {
    position: relative;
    width: 500%;
    font-size: 0;
    animation: 28s slidy infinite;
}

figure.slider figure {
    width: 20%;
    height: auto;
    display: inline-block;
    position: inherit;
}

figure.slider img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

figure.slider figure figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.562);
    color: #fff;
    width: 100%;
    font-size: 2rem;
    padding: .6rem;
}



/*
.box {
    background-color: rgb(0 0 0 / 83%);
    position: relative;
    height: 50px;
    top: -15px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align: left;
    padding: 10px 150px;
}

.image-slider {
    min-width: 100vw;
    padding: 0;
}
.main-carousel {
    position: relative;
    height: 600px;
    height: 108vh;

}
.main-carousel .carousel {
    margin: 30px 0 0;
    width: 100%;
    position: relative;
    left: 0;
}
.main-carousel .carousel .items {
    width: 100%;
    height: 100vh;
}
.main-carousel .carousel .items .carousel-image {
    width: 100vw;
    height: 720px;
    object-fit: cover;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: 0.5s all;
    
}

.main-carousel .carousel .items .current {
    opacity: 1;
}
.main-carousel .buttons #nextBtn,
.main-carousel .buttons #prevBtn {
    height: 35px;
    width: 35px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.8;
    position: absolute;
}
.main-carousel .buttons #nextBtn:hover,
.main-carousel .buttons #prevBtn:hover {
    opacity: 1;
}
.main-carousel .buttons #prevBtn {
    top: 50%;
    left: 3%;
}
.main-carousel .buttons #nextBtn {
    top: 50%;
    right: 3%;
}
.main-carousel .nav-dots {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
}
.main-carousel .nav-dots .dot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}

.main-carousel .nav-dots .active {
    opacity: 1;
}
*/
/*
About Section
*/
#about-content p {
    text-align: justify;
}

#about-content p,
#about-content span {
    font-family: BsR;
    font-size: 45px;

}

/*
Fact Section
*/

.funfact-img {
    /* transform: rotate(-25deg);
 */
}

/* .fact-heading {
    background-color: brown;
    font-size: 48px;
    color: white;
    font-weight: 800;
}
.fact {
    background-color: #cecece;
    font-size: 32px;
    font-weight: 700;
    margin: 50px 0;
}
.source {
    font-size: 24px;
    font-weight: 200;
    text-align: left;
}

a.active:focus,
a.active:hover,
a.active:visited,
li a.active:link,
li a:hover {
    background: #fff;
    z-index: 1010;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.5);
    transform: scale(1.1);
}
li a:hover {
    z-index: 2020;
}
 */

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    text-align: center;
    line-height: 300px;
}

a.control_prev,
a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

a.control_prev:hover,
a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.fact-image {
    transition: 1s;
}

.fact-image:hover {
    transform: scale(1.7);

}










/*

*/
.glimpse-link {
    color: #ff0000;
    text-decoration: none !important;
}

.glimpse-link:hover {
    color: #9e1212;
}


.heart {

    font-size: 48px;

}

.animate-beat {
    animation: beat 3s infinite;
}

/* Campus buzz*/


/* fact-box-bg */

.fact-box-bg {
    position: relative;
    height: auto;
    left: 10%;
    top: 100px;
}


/* Rectangle 1 */
.rectangle1 {

    position: absolute;
    width: 850.96px;
    height: 760.76px;
    background: #20F84F;
    transform: rotate(8.79deg);


}

/* Rectangle 2 */
.rectangle2 {
    position: absolute;
    width: 840.95px;
    height: 760.97px;
    background: #000000;
    transform: rotate(-5.47deg);
    padding: 50px;
}

.fact-text {
    color: white;
    transform: rotate(-0.5deg);
    font-size: 20px;
    font-weight: 800;
    text-align: justify;
}

.fact-text ul li {
    list-style: none;
}



.odd {}

.even {}

.odd .title,
.subtitle {
    color: black !important
}



.parallax-2 {
    background-image: url("https://www.bitmesra.ac.in/UploadedDocuments/user_pratyush_869/Header/Header3cd9cb07c4664c29ae582b31633b0a79_Header1.jpg");
    /* Set a specific height */
    min-height: 400px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}






/* Card CSS*/

.card-list {
    display: flex;
    padding: 15px 15px 0px 15px;
    margin-top: 15rem;
}

.card-list .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 320px;
    width: 300px;
    min-width: 300px;
    padding: 1rem;
    border-radius: 16px;
    background: #000000f2;
    transition: 0.2s;
    top: 45%;
    left: 16%;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background-color: #17141d;
    border-radius: 9px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card-list .card:hover {
    cursor: pointer;
    transform: translateY(-1rem);
    background-color: white;
    color: black !important;
}

.card-list .card:hover~.card {
    transform: translateX(130px);

}

.card-list .card:not(:first-child) {
    margin-left: -110px;

}

.card-list .card-author {
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
}

.card-list .author-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
    overflow: hidden;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    /* pointer-events: none; */
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.card-list .card-header h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* 
Team CSS
*/
/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/
.profile-card {
    transition: all ease 500ms;
    box-shadow: 0 -1px 8px 2px black !important;
}

.profile-card:hover {

    transform: scale(1.1);
    box-shadow: 0 0 20px 8px black !important;
}

/*
Article Page CSS
*/
.article-heading h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: left;
}

.meta-info {
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

.meta-info span {
    color: red;
}

.article-content {
    text-align: left;
}

/*
Newsletter Page
*/
.blog-slider__title {
    font-family: blkchry;
    font-size: 40px;
}

/*
Editorials-content
*/
.editorials-content {
    background-color: #020202;
    color: white;
    min-height: 100vh;
}

.view-all-button {
    position: relative;
    top: 95vh;
    left: 75vw;
    z-index: 99999;
}

.view-all-button a {
    color: white;
    text-decoration: none;
}

#entertainment {
    background-image: url("../img/entertainment1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#inventions {
    background-image: url("../img/inventions.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#illustrations {
    background-image: url("../img/illustrations.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#abhivyakti {
    background-image: url("../img/rachna.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#trends {
    background-image: url("../img/trends.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background-color: #cacaca;
}

.post-card {
    background-color: #adc0dc70 !important;
    position: relative;
}

.post-card-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*
Contact us CSS
*/

.required-asterisk {
    color: #f00;
}

.wrapper {
    width: 580px;
    border: 1px solid #eee;
    padding: 30px;
    margin: 50px auto;
    background-color: #ffffffb8;
    box-shadow: -3px 4px 9px 2px rgb(0 0 0 / 88%);
    position: relative;
}

fieldset {
    border: none;
    padding: 0;
    margin: 8px 0;
}

fieldset legend {
    padding: 8px 0;
}

fieldset label {
    margin: 0 24px 0 6px;
}

fieldset label>span {
    color: #555;
}

.floating-label {
    position: relative;
    display: inline-block;
    margin: 8px 0;
    vertical-align: top;
}

.half-width-field {
    width: 49%;
}

.half-width-field div,
.half-width-field select {
    width: 100%;
}

.half-width-field+.half-width-field {
    margin-left: 1%;
}

.full-width-field {
    width: 100%;
}

.full-width-field div,
.full-width-field select {
    width: 100%;
}

.floating-label>span {
    position: absolute;
    top: 1.2em;
    left: 1.5em;
    color: #555;
    transition: 0.15s ease-out all;
}

.floating-label>span.stay {
    top: 1em;
    left: 2em;
    font-size: 0.7em;
    font-weight: bold;
    color: #888;
    transition: 0.15s ease-out all;
}

.floating-label>span.stay .helper {
    display: none;
}

.floating-label>input {
    padding: 1em 1em 0.25em;
    line-height: 1.4em;
    font-size: 1.2em;
    width: 100%;
    border: 1px solid #ccc;
}

.floating-label>textarea {
    padding: 1.2em 1em 0.8em;
    line-height: 1.4em;
    font-size: 1.2em;
    width: 100%;
    height: 160px;
    border: 1px solid #ccc;
}

.small {
    font-size: 0.9em;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #ff0019;
    opacity: 1;
    cursor: pointer;
}

.select-group span {
    display: block;
    margin-bottom: 0.5em;
}

.select-group.floating-label span {
    top: 0;
    left: 10px;
    font-weight: bold;
    color: #888;
    transition: 0.15s ease-out all;
}

.select-group.floating-label option {
    font-weight: bold;
    padding-bottom: 0.3em;
    color: #555;
}

.select-group>div {
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.select-group>div select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    z-index: 5;
    padding: 1em 2em 0.25em 1em;
    line-height: 1.4em;
    font-size: 1.2em;
}

.select-group>div:after {
    font-family: FontAwesome;
    content: '\f107';
    z-index: -1;
    position: absolute;
    right: 1em;
    top: 1.1em;
}

input[type='submit'] {
    font-family: 'Proxima Nova', 'Verdana', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;

    line-height: 1.5em;
    margin-top: 5px;
    padding: 1em 4em;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    border: 1px solid #000;
    margin: 12px auto;
}

input[type='submit']:hover,
input[type='submit']:active,
input[type='submit']:focus {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    transition: background-color 250ms, color 250ms, border 250ms;
}

.cancel {
    text-align: center;
    display: inherit;
    padding: 16px 0 0;
}

.note {
    font-size: 0.9em;
    color: #888;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .wrapper {
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}

@media screen and (max-width: 480px) {
    .half-width-field {
        width: 100%;
    }
}

.map {
    position: relative;
    left: 18%;
    margin-top: 100px;
}





/* KeyFrames and Responsive*/

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes scroll {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes beat {
    0% {
        font-size: 40px;
        /* fallback */
        font-size: 20px;
    }

    40% {
        font-size: 50px;
        /* fallback */
        font-size: 25px;
    }

    60% {
        font-size: 40px;
        /* fallback */
        font-size: 20px;
    }

    80% {
        font-size: 50px;
        /* fallback */
        font-size: 25px;
    }

    100% {
        font-size: 40px;
        /* fallback */
        font-size: 20px;
    }
}

/* NewsLetter Carousel */

#wrapper-scope {
    margin-top: 12rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scope {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: slid 30s linear infinite;
}

.scope span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}

.scope span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: 2s;
}

.scope span:hover img {
    transform: translateY(-50px) scale(1.7);
}

@keyframes slid {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}


#quickLinks li a {
    font-family: BsR;
    font-size: 25px;
    text-decoration: none;
}

#quickLinks li a:hover {
    color: red !important;
}



.hi-slide {
    position: relative;
    width: 754px;
    height: 292px;
    margin: 70px auto 20px;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;


    line-height: 40px;
    text-align: center;
    cursor: pointer;

    color: black;
    transition: all 0.6s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
}

.hi-slide .hi-prev {
    left: -60px;
}

.hi-slide .hi-prev::before {

}

.hi-slide .hi-next {
    right: -60px;
}

.hi-slide .hi-next::before {
   
}

.hi-slide>ul {
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}


.hi-slide>ul>li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 146px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 7px solid #030304;
    background-color: #333;
    cursor: pointer;
}

.hi-slide>ul>li>img {
    width: 100%;
    height: 100%;
    background-position: center;
}

.imageHover {
    transition: 1s;
}

.imageHover:hover {
    transform: scale(1.5);
}



#event-container button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#event-container button:active {
	transform: scale(0.95);
}

#event-container button:focus {
	outline: none;
}

#event-container button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}



.event-container {
	background-color: rgb(253, 253, 253);
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
	min-height: 500px;
	border-radius: 10px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.recent-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.event-container.right-panel-active .recent-container {
	transform: translateX(100%);
}

.upcoming-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.event-container.right-panel-active .upcoming-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.event-container.right-panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.event-container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}


.eevnt-container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.event-container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
.content-box {
    background-color: yellow;
}








.achievers-data {
    
    margin-top:3rem;
    margin-bottom: 3rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.achievers-data-text {
    padding: 2rem;
    
    margin: auto;
}

.achievers-data-image {
    margin: auto !important;
}

.module {
    clip-path: polygon(0% 0px, 0px 0%, calc(100% - 40px) 0%, 100% 35px, 100% calc(100% - 0px), calc(100% - 0px) 100%, 40px 100%, 0px calc(100% - 35px));
}

.nectar-button {
    font-size: 21px;
    font-weight: 900;
    display: inline-block;
    padding: 15px 96px !important;
    min-width: 250px !important;
    color: #ffffff;
    background-color: #900000;
    border-color: transparent;
}
.button-hover-class{
    transition: 0.7s;
}
.button-hover-class:hover {
    transform:scale(0.9);

}

.item {
    position: relative;
    display: inline-flex;
    background: brown;
    width: 400px;
    height: 300px;
}

.text-block {
    background-color: #000000c9;
    color:white;
    position: absolute;
    bottom:0px;
    width: 400px;
    padding: 0.3rem 1rem 1rem 1rem;
    text-align: left;
    font-size: 22px;
}

.event1 {
    /* background-color: #20F84F;
     */
     background-image: url(../img/ent1.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: top;
}
.event2 {

    background-image: url(../img/ent1.jpeg);
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: top;
    
}
.event3 {
    /* background-color: #20F84F;
     */
     background-image: url(../img/ent1.jpeg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: top;
}
.event4 {

    background-image: url(../img/ent1.jpeg);
    background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-position-y: top;
    
}

.event-box-border 
{
background: #FFFFFF;
}


.upper-border
{
    position: relative;
    top:0;
width: 1367px;
height: 416px;
background: url(../img/upper-border.png);
background-repeat: no-repeat;
background-position: center;
margin-bottom: 3rem;
}

.lower-border
{
position: relative;
width: 1367px;
height: 432px;
background: url(../img/lower-border.png);
margin-top:3rem;
background-repeat: no-repeat;
background-position: center;
}

.data-text-event
{
position: relative;

}
.event-text-box1 {
    position: relative;
margin-left: 10%;
width: 1082px;
height: auto;
background: #032935;
box-shadow: 0px 8px 30px 0px rgb(14 85 216 / 30%), 1px 15px 80px 0px rgb(0 0 0);
border-radius: 50px;
padding:2rem;
color:white
}


.event_main_box {
    width: 80%;
    margin: auto;
    height: 150px;
    font-family: 'Philosopher', sans-serif;
    position: relative;
    margin-bottom: 2rem;
}
.event_left_box {
    height: 150px;
    width: 15%;
    position: relative;
    text-align: center;
    font-size: 48px;
    display: inline-block;
    color: black;
    margin-left:7%;
    background-color: white;
}
.left_down_box {
    background-color: black;
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: white;

}

.event_right_box {
    height: 150px;
    width: 65%;
    text-align: center;
    font-size: 48px;
    display: inline-block;
    position: absolute;
    color: black;
    padding: 2rem 0;
    background-color:white;
    right: 0;
}

.event_months_display {
display: inline-block;
margin-bottom: 2rem;
margin-right:1rem
}


.event_date_box {
    background-color: white;
    color:black;
    width: auto;
    height:50px;
    display: inline;
}




.triangleTopLeft{
    width:0; 
    height:0; 
    border-right:50px solid transparent;
    border-top:50px solid red;
    border-left:50px solid red;
    border-bottom:50px solid transparent;
    position: absolute;
    top:-25px;
    left:-25px;
    transform: scale(0.5);
}
.triangleTopRight{
    width:0; 
    height:0; 
    border-right:50px solid red;
    border-top:50px solid red;
    border-left:50px solid transparent;
    border-bottom:50px solid transparent;
    position: absolute;
    right:-25px;
    top:-25px;

    transform: scale(0.5);
}

.triangleBottomLeft{
    width:0; 
    height:0; 
    border-right:50px solid transparent;
    border-top:50px solid transparent;
    border-left:50px solid red;
    border-bottom:50px solid red;
    position: absolute;
    left:-25px;
    bottom:-25px;

    transform: scale(0.5);
}

.triangleBottomRight{
    width:0; 
    height:0; 
    border-right:50px solid red;
    border-top:50px solid transparent;
    border-left:50px solid transparent;
    border-bottom:50px solid red;
    position: absolute;
    bottom:-25px;
    right:-25px;

    transform: scale(0.5);
}








.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size:18px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -198px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }







.animated-text {
    font: 3em/1.5 "Baloo";
  }
  
  .animated-text span.letter{
    display:inline-block;
    font-family: 'BsR';
  }
  
  .animated-text.wave span.letter{
    animation: 1s wave backwards ease-in-out infinite;
  }
  
  .animated-text.flip span.letter{
    animation: 1s flip forwards ease-in-out infinite;
  }
  
  .animated-text.pop span.letter{
    animation: 1s pop forwards ease-in-out infinite;
  }
  
  .animated-text.tilted span.letter{
    animation: 1s tilted forwards ease-in-out infinite;
  }
  
  @keyframes wave {
    0%{
      transform: translateY(0em);
    }
    50%{
      transform: translateY(-1rem);
    }
  }
  
  @keyframes flip {
    0%{
      transform: rotateX(0deg);
    }
    50%{
      transform: rotateX(90deg);
    }
    100%{
      transform: rotateX(0deg);
    }
  }
  
  @keyframes pop {
    0%{
      transform: rotateZ(5deg) scale(0.75) translateY(0);
      opacity:0.1;
    }
    50%{
      transform: rotateZ(-5deg) scale(1) translateY(-0.5em);
      opacity:1;
    }
    100%{
      transform: rotateZ(5deg) scale(0.75) translateY(0);
      opacity:0.1;
    }
  }
  
  @keyframes tilted {
    0%{
      transform: rotateZ(-15deg);
    }
    50%{
      transform: rotateZ(15deg);
    }
    100%{
      transform: rotateZ(-15deg);
    }
  }
  
  @keyframes shine {
    75%{
      color: inherit;
    }
    100%{
      color: #fff;
    }
  }
  
  @keyframes crazy {
    0%{
      transform: translateY(0) rotateX(90deg);
    }
    50%{
      transform: translateY(-1em) rotateX(0deg);
    }
    100%{
      transform: translateY(0) rotateX(-90deg);
    }
  }
  
  @keyframes newone {
    0%{
      font-size: 3rem;
    }
    50%{
      font-size: 3.5rem;
    }
    100%{
      font-size: 3rem;
    }
  }



#rachnaye .card {
    min-height: 400px;
}